name: Utc App CI/CD

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read
  id-token: write

env:
  PYTHON_VERSION: "3.11"
  IMAGE_NAME: "my-portfolio-2"
  AWS_REGION: "us-east-1"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run unit tests
        run: pytest test.py

      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      # Build ECR repo variable with secrets (must be done at runtime)
      - name: Generate ECR repo env var
        run: echo "ECR_REPO=${{ secrets.ACCOUNT_ID }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.IMAGE_NAME }}" >> $GITHUB_ENV

      - name: Debug ECR repo
        run: echo $ECR_REPO

      # Login to ECR
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      # Build Docker Image
      - name: Build Docker image
        run: |
          IMAGE_TAG=${{ github.sha }}
          docker build -t $ECR_REPO:$IMAGE_TAG .

      # Install Trivy
      - name: Install Trivy
        uses: aquasecurity/trivy-action@0.20.0

      # Scan image for HIGH & CRITICAL vulnerabilities
      - name: Trivy image scan
        run: |
          IMAGE_TAG=${{ github.sha }}
          trivy image --exit-code 1 --severity HIGH,CRITICAL $ECR_REPO:$IMAGE_TAG

      # Push image to ECR
      - name: Push image to Amazon ECR
        run: |
          IMAGE_TAG=${{ github.sha }}
          docker push $ECR_REPO:$IMAGE_TAG