name: Utc App ci/cd

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  id-token: write

  env:
  python_version: 3.11
  IMAGE_NAME: portfolio
  AWS_REGION: us-east-1
  Account_ID: ${{ secrets.ACCOUNT_ID }}
  ECR_REPO: $ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$IMAGE_NAME


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
            python-version: ${{env.python_version}}  # or $python_version
      - name: Install pytest
        run: pip install -r requirements.txt
      - name: unit test
        run: pytest test.py
        # Configure AWS credentials via OIDC (preferred)
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Check credentials
        run: aws s3 ls